* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.first-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.first-info-right {
  width: 40% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flatcard-datepicker {
  width: 100%;
  padding: 20px 0 0 75px;
}

.flatcard-datepicker p {
  color: #FECA15;
  font-weight: 500;
}

.flatcard-datepicker .CalendarMonth .CalendarMonth_1 table {
  margin-top: 15px !important;
}

.flatcard-datepicker .DayPicker_weekHeader_ul .DayPicker_weekHeader_ul_1 ul > li {
  margin: 0 8px !important;
}

.carousel-root {
  width: 60% !important;
  padding-left: 125px;
  border-radius: 10px;
}

.slider_main {
  width: 60% !important;
}

.slider_main li.slide.selected img {
  height: 400px !important;
}

.carousel {
  width: 100% !important;
  height: auto !important;
}

.carousel.carousel-slider {
  width: 100% !important;
  height: auto !important;
  border-radius: 15px !important;
}

.carousel ul {
  width: 100%;
  height: 100% !important;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.carousel ul li {
  width: 100px !important;
}

.carousel .thumbs-wrapper {
  margin: 20px 0 !important;
}

/* FlatCard component */
.flatcard-container {
  width: 100%;
  height: auto;
  padding: 25px;
}

.flatcard-container p {
  margin: 0;
  font-size: 25px;
}

.flatcard-container .flatcard-images {
  padding: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flatcard-container .flatcard-images #flatcard-images-main {
  width: 48%;
  margin-bottom: 18px;
  border-radius: 5px;
}

.flatcard-container .flatcard-images-secondary {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flatcard-container .flatcard-images-secondary img {
  margin: 0 0 20px 20px;
  border-radius: 5px;
}

.flatcard-container .modal-body {
  padding: 0 0 20px 0;
  background-color: #feca15;
  border-radius: 5px;
}

.flatcard-container .modal-body img {
  width: 200%;
}

.flatcard-container #slick-slider-image {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.flatcard-container .modal-content {
  border-radius: 5px;
}

.flatcard-container .mdbbtn {
  top: 4%;
  right: 42%;
  border: none !important;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
  position: absolute !important;
  padding: 5px 10px;
}

.flatcard-container .mdbbtn i {
  font-size: 30px;
  color: #ffffff;
}

.flatcard-container .btn-default {
  background: transparent !important;
}

.flatcard-container .btn-default:hover {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.flatcard-container #darken-image {
  position: relative !important;
}

.flatcard-container .flatcard-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px 0 0 75px;
  font-weight: 600;
  line-height: 61px;
}

.flatcard-container .flatcard-description p {
  font-size: 35px;
}

.flatcard-container .flatcard-description-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flatcard-container .flatcard-description-som {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 25px;
}

.flatcard-container .flatcard-description-som p {
  color: #264989;
  font-size: 25px;
}

.flatcard-container .flatcard-description-som p:last-child {
  color: #feca15;
}

.flatcard-container .flatcard-description-dollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 25px;
}

.flatcard-container .flatcard-description-dollar p {
  color: #264989;
  font-size: 25px;
}

.flatcard-container .flatcard-description-dollar p:last-child {
  color: #feca15;
}

.flatcard-container .flatcard-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.flatcard-container .flatcard-info .flatcard-details {
  width: 100%;
  padding: 0 125px;
}

.flatcard-container .flatcard-info .flatcard-details #flatcard-details-title {
  text-align: start;
  color: #FECA15;
  font-weight: 500;
}

.flatcard-container .flatcard-info .flatcard-details-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  padding-left: 25px;
}

.flatcard-container .flatcard-info .flatcard-details-p p {
  margin-top: 20px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock {
  width: 100%;
  padding: 0 125px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock #flatcard-instock-title {
  text-align: start;
  color: #FECA15;
  font-weight: 500;
  margin-top: 50px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 25px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock-p p {
  margin-top: 20px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near {
  width: 100%;
  padding: 0 125px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near #flatcard-near-title {
  text-align: start;
  color: #FECA15;
  font-weight: 500;
  margin-top: 50px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 25px;
}

.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near-p p {
  margin-top: 20px;
}

.flatcard-container .flatcard-info .flatcard-about {
  width: 100%;
  padding: 0 125px;
}

.flatcard-container .flatcard-info .flatcard-about #flatcard-about-title {
  text-align: start;
  color: #FECA15;
  font-weight: 500;
  margin-top: 50px;
}

.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p {
  padding-left: 25px;
}

.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p #flatcard-about-description {
  text-align: start;
  margin: 20px 0 20px 0;
}

.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p-p p {
  margin-top: 15px;
}

.flatcard-container .flatcard-info .flatcard-map {
  width: 100%;
  padding: 0 125px;
}

.flatcard-container .flatcard-info .flatcard-map #flatcard-map-description {
  color: #FECA15;
  font-weight: 500;
  margin: 60px 0;
}
/*# sourceMappingURL=flat-card.css.map */