* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --blue: #264989;
    --yellow: #FECA15;
}

button, input {
    outline: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}

.intro {
    background: url(../../content/images/main/michael-browning-akz0w36DpM4-unsplash.jpg) center center / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

#main-title {
    color: #FECA15;
    text-shadow: 1px 4px 2px rgb(0, 0, 0, 0.8);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5em;
}

.main-header img {
    width: 9em;
    margin-left: 3em;
}

.header__btns {
    margin-right: 2em;
    display: flex;
}

.btn__blue{
    padding: 0.9em 2.5em;
    background-color: var(--blue);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}

.btn__yellow{
    padding: 0.9em 2.5em;
    background-color: var(--yellow);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}

.main-header button{ 
    border-radius: 20px 0px 0px 20px;
}

.main-header button + button{
    background-color: var(--yellow);
    border-radius: 0px 20px 20px 0px;
}

.intro > h1, .ads__section > h1, .main-footer > h1 {
    align-self: center;
    color: #fff;
    font-size: 3em;
    margin-top: 2em;
    font-weight: 500;
}

.search__block{
    display: flex;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    margin-top: 6em;
    margin-bottom: 4em;
    border-radius: 20px;
}

.search__block input{
    border: none;
    border-radius: 20px 0px 0px 20px;
    width: 25em;
    padding: 1em;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
}

.search__block input:focus{
    padding-left: 1.5em;
}

.search__block button{
    border-radius: 0px 20px 20px 0px;
    height: 100%;
}

.onMap{
    width: 15em;
    align-self: center;
    border-radius: 20px;
}

.intro > a{
    width: 15em;
    align-self: center;
}

.ads__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.ads__section h2{
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

.ads__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}



.ads__block{
    width: 20em;
    border-radius: 10px;
    height: 17em;
    margin-top: 2em;   
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); 
    position: relative;
    margin-left: 2em;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    position: relative;
}

.ads__block:hover .appear__onhover_info{
    opacity: 1;
}

.appear__onhover_info{
    position: absolute;
    top: 0;
    width: 80%;
    margin-left: 10%;
    height: 7.2em;
    overflow: hidden;
    margin-top: 2.5em;
    transition: ease-in-out 0.2s;
    /* z-index: -1; */
    opacity: 0;
}

.ads__block::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    clip-path: ellipse(38% 28% at 7% 97%);
    transition: ease-in-out 0.3s;
}

.ads__block:hover::before{
    clip-path: ellipse(82% 78% at 37% 79%);
}

.ads__block:hover  span{
    color: #fff
}

.ads__block:hover a span{
    color: #fff;
}

.ads__block a span:hover{
    color: var(--yellow);
}

.ads__blocks:nth-child(1){
    margin-left: 0;
}

.ads__block img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: ease-in-out 0.3s;
    height: 60%
}

.ads__block:hover .ads__block__info > span{
    color: #fff;
}

.ads__block__info > span{
    display: inline-block;
    margin-left: 1em;
    font-weight: 600;
    color: var(--blue);
}

.ads__price{
    position: absolute;
    bottom: 0;
    margin-left: 1em;
    display: flex;
    align-items: center; 
    width: 100%;
}

.ads__price span{
    font-weight: 500;
    font-size: 1.3em;
    color: #fff;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    width: 8em;
}

.ads__price a span{
    font-weight: 500;
    color: var(--yellow);
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    width: 6em;
}

.ads__section button{
    border: 1px solid var(--blue);
    border-radius: 15px;
    padding: 1em 3em;
    background-color: transparent;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 10em;
    align-self: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: var(--blue);
}

.ads__section button:hover{
    background-color: var(--blue);
    color: #fff;
}

.main-footer{
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    color: #fff;
    height: 50vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.social__icons{
    margin-top: 1em;
}

.social__icons img{
    width: 3em;
}

.social__icons img + img{
    margin-left: 1em;
}

.main-footer button{
    border-radius: 20px;
    margin-top: 2em;
}

.footer__menu{
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__menu a{
    color: #fff;
}

@media screen and (max-width: 870px){
    .intro > h1{
        font-size: 2.2em;
    }

    .search__block input{
        width: 18em;
        padding: 0.7em;
    }

    .onMap{
        width: 13em;
    }
}

@media screen and (max-width: 630px){
    .intro > h1{
        font-size: 1.7em;
    }

    .search__block{
        height: 4em;
        font-size: 12px;
    }

    .search__block input{
        width: 17em;
        padding: 0.3em;
    }

    .onMap{
        width: 15em;
        font-size: 13px;
    }

    .ads__section h2{
        font-size: 1.7em;
    }

    .ads__section button{
        width: 7em;
        padding: 0.8em 1.5em;
        margin-top: 0;
    }
}

@media screen and (max-width: 470px){
    .intro > h1{
        /* font-size: 1.em; */
        width: 80%;
        text-align: center;
        line-height: 1.8em;
    }
}