::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 6px;
}

* {
    --blue: #264989;
    --yellow: #FECA15;
}

.search__block__filter{
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 3em;
    margin-bottom: 4em;
    border-radius: 20px;
    width: 40em;
    margin-left: calc(50% - 20em);
}

.search__block__filter input{
    border: none;
    border-radius: 20px 0px 0px 20px;
    width: 25em;
    padding: 1em;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
}

.search__block__filter input:focus{
    padding-left: 1.5em;
}

.search__block__filter button{
    border-radius: 0px 20px 20px 0px;
}

.filter__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-between;
    height: 2.5em;
    line-height: 2.5em;
}

ul li{
    text-align: center;
    transition: all ease-in-out 0.3s;
}

.main_filter > li{
    width: 25%;
    border: 1px solid #9F9D9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.main_filter > li > img{
    width: 1em;
    transform: rotate(90deg) translateY(10px);
    position: absolute;
    right: 0;
    top: 30%;
}

.main_filter > li:hover{
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main_filter > li:hover img{
    transform: rotate(-90deg) translateY(-10px);
}

.main_filter > li:hover ul{
    transform: scaleY(1);
    height: auto;
    max-height: 10em;
    overflow-y: scroll;
}

.main_filter > li:nth-child(4n){
    border-radius: 0 20px 20px 0;
}

.main_filter > li:nth-child(4n):hover{
    border-radius: 0 20px 0 0;
}


.main_filter > li:nth-child(1){
    border-radius: 20px 0 0 20px;
}

.main_filter > li:nth-child(1):hover{
    border-radius: 20px 0 0 0;
}

.selct__block__filter{
    border-radius: 20px;
    outline: none;
}

.selct__block__filter:hover{
    border-radius: 20px 20px 0 0;
}

.selct__block__filter option{
    text-align: center;
    height: 7em;
}

li > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    position: absolute;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    border: 2px solid var(--blue);
    border-radius: 0 0 20px 20px;
}

li > ul > li{
    width: 100%;
    color: #9F9D9D;
    background-color: #fff;
}

li > ul > li:hover{
    color: #fff;
    background-color: var(--blue);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main_filter + .main_filter{
    margin-top: 2em;
}

.ads__block__filter{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.ads__card__filter{
    width: 70%;
    background-color: #F9F9F9;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    height: 18em;
}

.ads__card__filter img{
    width: 45%;

}

.ads__info__filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2em;
}

.ads__price__block{
    display: flex;
    justify-content: space-between;
    margin-right: 4em;
}

.ads__price__block span{
    font-size: 1.3em;
    color: var(--blue);
    font-weight: 500;
}

#ads__link__map{
    color: var(--yellow);
}