* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* FlatCard component */
.flatcard-container {
	width: 100%;
	height: auto;
	padding: 25px;
	p {
		margin: 0;
		font-size: 25px;
  }
  
	.flatcard-images {
    padding: 25px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		#flatcard-images-main {
			width: 48%;
			margin-bottom: 18px;
			border-radius: 5px;
		}
  }
  
	.flatcard-images-secondary {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // flex-direction: column;
		img {
			margin: 0 0 20px 20px;
			border-radius: 5px;
		}
  }
  
	.modal-body {
		padding: 0 0 20px 0;
		background-color: #feca15;
		// border: 1px solid #feca15;
		border-radius: 5px;
		img {
			width: 200%;
		}
  }
  #slider-image {
    border-radius: 5px;
  }
	.modal-content {
		// border: 1px solid #feca15;
		border-radius: 5px;
  }
	.mdbbtn {
		transform: translate(1065%, -385%);
		border: 3px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 15px;
		background-color: transparent;
		position: absolute !important;
  	}
	.btn-default {
    background: transparent !important;
    &:hover {
      background: rgb(0, 0, 0) !important;
      transition: .3s ease-out;
    }
  }
	#darken-image {
		position: relative !important;
  }
  
	.flatcard-description {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 50px;
		margin-top: 80px;
		font-weight: 600;
		line-height: 61px;
		p {
			font-size: 40px;
		}
  	}
  
	.flatcard-description-currency {
		display: flex;
		flex-direction: row;
  	}
  
	.flatcard-description-som {
		display: flex;
		flex-direction: row;
		padding-right: 25px;
		// border-right: 5px solid #C4C4C4;
		p {
			color: #264989;
			&:last-child {
				color: #feca15;
			}
		}
  	}
  
	.flatcard-description-dollar {
		display: flex;
		flex-direction: row;
		padding-left: 25px;
		p {
			color: #264989;
			&:last-child {
				color: #feca15;
			}
		}
  	}
  
	.flatcard-info {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		.flatcard-details {
			width: 100%;
			padding: 0 125px;
			#flatcard-details-title {
				text-align: start;
				color: #FECA15;
			}
		}
		.flatcard-details-p {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			flex-wrap: wrap;
			height: auto;
			padding-left: 25px;
			p {
				margin-top: 20px;
			}
		}
		.flatcard-instock-and-near {
			display: flex;
			flex-direction: row;
			.flatcard-instock {
				width: 100%;
				padding: 0 125px;
				#flatcard-instock-title {
					text-align: start;
					color: #FECA15;
					margin-top: 50px;
				}
			}
			.flatcard-instock-p {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				padding-left: 25px;
				p {
					margin-top: 20px;
				}
			}
			.flatcard-near {
				width: 100%;
				padding: 0 125px;
				#flatcard-near-title {
					text-align: start;
					color: #FECA15;
					margin-top: 50px;
				}
			}
			.flatcard-near-p {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				flex-wrap: wrap;
				padding-left: 25px;
				p {
					margin-top: 20px;
				}
			}
		}
		.flatcard-about {
			width: 100%;
			padding: 0 125px;
			#flatcard-about-title {
				text-align: start;
				color: #FECA15;
				margin-top: 50px;
			}
			.flatcard-about-pos-p {
				padding-left: 25px;
				#flatcard-about-description {
					text-align: start;
					margin: 20px 0 20px 0;
				}
			}
			.flatcard-about-pos-p-p {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				p {
					margin-top: 15px;
				}
			}
		}
		.flatcard-datepicker {
			width: 100%;
			padding: 0 125px;
			p {
				color: #FECA15;
				margin: 60px 0;
      }
      // .CalendarMonth .CalendarMonth_1 table {
      //   margin-top: 15px !important;
      // }
      // .DayPicker_weekHeader_ul .DayPicker_weekHeader_ul_1 ul > li {
      //   margin: 0 8px !important;
      // }
    }
		.flatcard-map {
			width: 100%;
			padding: 0 125px;
			#flatcard-map-description {
				color: #FECA15;
				margin: 60px 0;
			}
		}
	}
}
