* {
  box-sizing: border-box;
}



/* USER PERSONAL DATA */
.user-personaldata-block {
  width: 100%;
  margin: 3em 0;
  display: flex;
  justify-content: center;
}
  .user-personaldata-cardcontainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
    .user-personaldata-card {
      display: flex;
      flex-direction: row;
      height: 216px;
    }
    .user-personaldata-card img {
      width: 200px;
    }
    .user-personaldata-data {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-weight: 600;
      font-size: 18px;
    }
      #user-personaldata-data-group1, #user-personaldata-data-group2, 
      #user-personaldata-data-group3, #user-personaldata-data-group4, 
      #user-personaldata-data-group5, #user-personaldata-data-group6, 
      #user-personaldata-data-group7 {
        padding: 0 100px 0 80px;
      }
      #user-personaldata-data-group1 label, #user-personaldata-data-group2 label, 
      #user-personaldata-data-group3 label, #user-personaldata-data-group4 label, 
      #user-personaldata-data-group5 label, #user-personaldata-data-group6 label, 
      #user-personaldata-data-group7 label {
        color: #264989;
      }

    .user-personaldata-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
      #user-logout-button {
        width: 200px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: rgb(255, 74, 74);
        border: 2px solid rgb(255, 74, 74);
        border-radius: 15px;
        padding: 15px;
        margin-right: 20px;
      } 
        #user-logout-button:hover {
          cursor: pointer;
          color: red;
          transition: .2s;
          background: transparent;
          transition: .3s ease-out;
        }
      #user-personaldata-button {
        width: 250px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: #264989;
        border: 2px solid #264989;
        border-radius: 15px;
        padding: 15px 75px;
        margin-right: 20px;
      }
        #user-personaldata-button:hover {
          cursor: pointer;
          color: #264989;
          background: transparent;
          transition: .3s ease-out;
        }
      #admin-panel-button {
        width: 250px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: #2db433;
        border: 2px solid #2db433;
        border-radius: 15px;
        padding: 15px 75px;
      }
        #admin-panel-button:hover {
          cursor: pointer;
          color: #2db433;
          background: transparent;
          transition: .3s ease-out;
        }

  

/* USER ADS BLOCK */
.user-ads-block{
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  #user-ads-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    color: #264989;
  }
  .user-ads-card{
    width: 60%;
    background-color: #F9F9F9;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }
    .user-ads-card img{
      width: 45%;
    }
    .user-ads-card-info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 2em;
    }
      .user-ads-card-price{
        display: flex;
        justify-content: space-between;
        margin-right: 4em;
        flex-direction: column;
      }
        .user-ads-card-price span{
          font-size: 1.3em;
          color: var(--blue);
          font-weight: 500;
        }
          #user-ads-maplink {
            color: var(--yellow);
          }
        .user-ads-card-control {
          display: flex;
          flex-direction: row;
        }
        .user-ads-card-control a {
          margin: 10px 20px 0 0;
        }



/* USER ADMIN BLOCK */
.user-admin-users-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .user-admin-users-list li {
    border: 2px solid #264989;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
  }
  .users-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }