/* MapFilter component */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #264989;
  border-radius: 6px;
}

.map-filter-container {
  width: 100%;
}

.map-filter-container-left {
  float: left;
  width: 40%;
  border: 1px solid #9F9D9D;
  --blue: #264989;
  --yellow: #FECA15;
}

.map-filter-container-left .map-filter-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 145px 0;
}

.map-filter-container-left .map-filter-lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5em;
  line-height: 2.5em;
}

.map-filter-container-left .map-filter-lists ul li {
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li {
  width: 45%;
  border: 1px solid #9F9D9D;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li > img {
  width: 1em;
  -webkit-transform: rotate(90deg) translateY(10px);
          transform: rotate(90deg) translateY(10px);
  position: absolute;
  right: 0;
  top: 30%;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:hover {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:hover img {
  -webkit-transform: rotate(-90deg) translateY(-10px);
          transform: rotate(-90deg) translateY(-10px);
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:hover ul {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  height: auto;
  max-height: 10em;
  overflow-y: scroll;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:nth-child(2n) {
  border-radius: 0 20px 20px 0;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:nth-child(2n):hover {
  border-radius: 0 20px 0 0;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group > li:nth-child(1):hover {
  border-radius: 20px 0 0 0;
}

.map-filter-container-left .map-filter-lists .map-filter-lists-group + .map-filter-lists-group {
  margin-top: 2em;
}

.map-filter-container-left .map-filter-lists li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  z-index: 2;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border: 2px solid var(--blue);
  border-radius: 0 0 20px 20px;
}

.map-filter-container-left .map-filter-lists li > ul > li {
  width: 100%;
  color: #9F9D9D;
  background-color: #fff;
}

.map-filter-container-left .map-filter-lists li > ul > li:hover {
  color: #000;
  background-color: var(--yellow);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.map-filter-container .map-component {
  float: right;
  width: 60% !important;
  height: 612px !important;
  position: relative !important;
}

.map-filter-header {
  width: 100%;
  height: 110px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.map-filter-header a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.map-filter-header .map-filter-header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map-filter-header .map-filter-header__description img {
  width: 100px;
}

.map-filter-header .map-filter-header__description #map-filter-header__logo-1 {
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.map-filter-header .map-filter-header__description #map-filter-header__logo-2 {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

.map-filter-header .map-filter-header__description #map-filter-header__logo-2:hover {
  -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
}

.map-filter-header .map-filter-header__input-group input {
  padding: 10px 140px 10px 40px;
  border: 2px solid #FECA15;
  border-radius: 12px 0px 0px 12px;
  font-size: 20px;
}

.map-filter-header .map-filter-header__input-group button {
  padding: 10px 50px;
  color: #fff;
  background: #FECA15;
  border: 2px solid #FECA15;
  border-radius: 0px 12px 12px 0px;
  font-size: 20px;
}

.map-filter-header .map-filter-header__input-group button:hover {
  background: transparent;
  color: #000000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.map-filter-header .map-filter-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map-filter-header .map-filter-header__menu p {
  margin: 0;
  font-size: 20px;
  line-height: 29px;
  padding: 10px 40px;
}

.map-filter-header .map-filter-header__menu-1 {
  border-radius: 15px;
  background-color: #264989;
  border: 2px solid #264989;
  color: #fff;
}

.map-filter-header .map-filter-header__menu-1:hover {
  background-color: transparent;
  color: #264989;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=map-filter.css.map */