* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header component */
.header {
  width: 100%;
  height: 125px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.header a {
  align-self: center;
  text-decoration: none;
}
.header__description {
  display: flex;
  flex-direction: row;
}
.header__description img {
  width: 200px;
}
.header .logo-title {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
  color: #264989;
}
.header .logo-title p {
  margin: 0;
}
.header .logo-title #p-half2 {
  color: #feca15;
}
.header .header__menu {
  display: flex;
  flex-direction: row;
}
.header .header__menu p {
  margin: 0;
  font-size: 20px;
  line-height: 29px;
  padding: 10px 40px;
}
.header .header__menu-1 {
  border-radius: 15px 0px 0px 15px;
  background-color: #264989;
  border: 2px solid #264989;
  color: #fff;
}
.header .header__menu-1:hover {
  background-color: transparent;
  color: #264989;
  transition: 0.3s ease-in-out;
}
.header .header__menu-2 {
  border-radius: 0px 15px 15px 0px;
  background-color: #feca15;
  border: 2px solid #feca15;
  color: #fff;
}
.header .header__menu-2:hover {
  background-color: transparent;
  color: #feca15;
  transition: 0.3s ease-in-out;
}
.header .header__menu-2 p {
  font-weight: 500;
}

/* FlatCard component */
.flatcard-container {
  width: 100%;
  height: auto;
  padding: 25px;
}
.flatcard-container p {
  margin: 0;
  font-size: 30px;
}
.flatcard-container .flatcard-images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flatcard-container .flatcard-images #flatcard-images-main {
  width: 50%;
  margin-bottom: 18px;
}
.flatcard-container .flatcard-images-secondary {
  width: 50%;
}
.flatcard-container .flatcard-images-secondary img {
  margin: 0 0 20px 20px;
}
.flatcard-container .modal-body {
  padding: 50px 0;
  background-color: #264989;
}
.flatcard-container .modal-body img {
  width: 200%;
}
.flatcard-container .modal-body, .flatcard-container .modal-content {
  border: 1px solid #feca15;
  border-radius: 5px;
}
.flatcard-container .mdbbtn {
  transform: translate(1065%, -390%);
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: transparent;
  position: absolute !important;
}
.flatcard-container .btn-default {
  background: transparent !important;
}
.flatcard-container #darken-image {
  position: relative !important;
}
.flatcard-container .flatcard-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 50px;
  margin-top: 80px;
  font-weight: 600;
  line-height: 61px;
}
.flatcard-container .flatcard-description p {
  font-size: 45px;
}
.flatcard-container .flatcard-description-currency {
  display: flex;
  flex-direction: row;
}
.flatcard-container .flatcard-description-som {
  display: flex;
  flex-direction: row;
  padding-right: 25px;
  border-right: 5px solid #C4C4C4;
}
.flatcard-container .flatcard-description-som p {
  color: #264989;
}
.flatcard-container .flatcard-description-som p:last-child {
  color: #feca15;
}
.flatcard-container .flatcard-description-dollar {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}
.flatcard-container .flatcard-description-dollar p {
  color: #264989;
}
.flatcard-container .flatcard-description-dollar p:last-child {
  color: #feca15;
}
.flatcard-container .flatcard-info {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.flatcard-container .flatcard-info .flatcard-details {
  width: 100%;
  padding: 0 125px;
}
.flatcard-container .flatcard-info .flatcard-details #flatcard-details-title {
  text-align: start;
  color: #FECA15;
}
.flatcard-container .flatcard-info .flatcard-details-p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
  padding-left: 25px;
}
.flatcard-container .flatcard-info .flatcard-details-p p {
  margin-top: 30px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near {
  display: flex;
  flex-direction: row;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock {
  width: 100%;
  padding: 0 125px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock #flatcard-instock-title {
  text-align: start;
  color: #FECA15;
  margin-top: 70px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock-p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 25px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-instock-p p {
  margin-top: 30px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near {
  width: 100%;
  padding: 0 125px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near #flatcard-near-title {
  text-align: start;
  color: #FECA15;
  margin-top: 70px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near-p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 25px;
}
.flatcard-container .flatcard-info .flatcard-instock-and-near .flatcard-near-p p {
  margin-top: 30px;
}
.flatcard-container .flatcard-info .flatcard-about {
  width: 100%;
  padding: 0 125px;
}
.flatcard-container .flatcard-info .flatcard-about #flatcard-about-title {
  text-align: start;
  color: #FECA15;
  margin-top: 70px;
}
.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p {
  padding-left: 25px;
}
.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p #flatcard-about-description {
  text-align: start;
  margin: 70px 0 40px 0;
}
.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p-p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.flatcard-container .flatcard-info .flatcard-about .flatcard-about-pos-p-p p {
  margin-top: 15px;
}
.flatcard-container .flatcard-info .flatcard-datepicker {
  width: 100%;
  padding: 0 125px;
}
.flatcard-container .flatcard-info .flatcard-datepicker p {
  color: #FECA15;
  margin: 80px 0;
}
.flatcard-container .flatcard-info .flatcard-map {
  width: 100%;
  padding: 0 125px;
}
.flatcard-container .flatcard-info .flatcard-map p {
  color: #FECA15;
  margin: 80px 0;
}

/* Footer component */
.footer {
  width: 100%;
  height: 300px;
  font-size: 20px;
  color: #fff;
  background-color: #264989;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.footer a {
  align-self: center;
  text-decoration: none;
}
.footer__icons img {
  margin-right: 20px;
  width: 40px;
}
.footer__icons p {
  margin-top: 0;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__menu p {
  margin: 0 20px;
  color: #fff;
}
.footer__menu-links {
  display: flex;
  flex-direction: row;
}
.footer__menu .footer-button {
  width: 60%;
  padding: 10px 10px;
  border-radius: 12px;
  background-color: #FECA15;
  border: 2px solid #FECA15;
  margin: 20px 0 0 20px;
}
.footer__menu .footer-button p {
  margin: 0;
  text-align: center;
}
.footer__menu .footer-button:hover {
  background-color: transparent;
  color: #FECA15;
  transition: 0.3s ease-in-out;
}