/* Background */
.reg-bg {
  background: url('../../content/images/main/sean-pollock-PhYq704ffdA-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  /* width: auto; */
  height: 100vh;
}

/* Modal container */
.reg-modal--content {
  background-color: #fff;
  width: 50%;
  height: 85vh;
  opacity: 1;
  position: fixed;
  z-index: 6;
  top: 0;
  margin-left: 25%;
  margin-top: 3%; 
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 1px 7px 24px 2px rgba(0,0,0,0.75);
}

.reg-modal--content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-modal--content form input {
  padding: 0.5em;
  padding-left: 2em;
  border-radius: 10px;
  margin-top: 1em;
  border: none;
  
}
.reg-modal--content form input:focus {
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.reg-inputs-1 {
  display: flex;
  flex-direction: row;
}
.reg-inputs-1 input {
  margin: 10px;
}


.reg-modal--content form button {
  border-radius: 20px;
  margin-top: 2em;
  background-color: var(--yellow);
  border: none;
  color: #fff;
  width: 8em;
  height: 2.5em;
}

.reg-modal__form__block {
  background-color: #264989;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reg-modal__form__block img {
  width: 100px;
  margin-top: 20px;
}

.reg-modal__form__block h3{
  color: #feca15;
  font-weight: 500;
  margin-top: 1em;
}
.reg-modal__form__block h4{
  color: #feca15;
  font-size: 1em;
  margin-top: 1em;
  font-weight: 400;
}

.help-block {
  color: red;
}

#hide-show-button-reg {
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  translate: 1075% -985%;
}
#hide-show-button-reg i {
  color: #264989;
}

.MuiFormLabel-root {
  color: #fff !important;
  width: auto !important;
  padding: 0 2px !important;
}

.MuiFormControl-root {
  border: 2px solid #feca15 !important;
  padding: 10px !important;
  border-radius: 8px !important;
}

.MuiTypography-body1 {
  color: #fff !important;
}

.MuiFormGroup-root {
  display: flex !important;
  flex-direction: row !important;
}

.MuiRadio-colorSecondary .Mui-checked {
  color: #feca15 !important;
}

.MuiSvgIcon-root {
  fill: #feca15 !important;
}